body{
  overflow-x: hidden;
}
html{
  overflow-x: hidden;
}
.inputBox{
  background-color: #EAEAEA;
  display: flex;
  align-items: center;
  border: 1px solid #D1D5D8;
  border-radius: 5px;
}
.inputCon input{
  padding:10px;
  border: 5px;
  flex: 1;
  background-color: transparent;
  padding-left: 0px;
  outline: 0;
}
.inputCon i{
  font-size: 20px;
  margin-right: 7px;
  margin-left: 5px;
}
.inputCon{
  margin-bottom: 20px;
}
.right{
  width: calc(100%-30%);
}